<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora em JS</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

    <div id="calculadora">
        <div id="resultado">
            <div id="resultado-div"></div>
        </div>
        <div id="cima">
            <button class="emCima escurecer-button">%</button>
            <button class="emCima escurecer-button">C</button>
            <button class="emCima escurecer-button">←</button>
            <button class="emCima escurecer-button">÷</button>
        </div>
        <div>
            <button class="emCima">9</button>
            <button class="emCima">8</button>
            <button class="emCima">7</button>
            <button class="emCima escurecer-button">x</button>
        </div>
        <div>
            <button class="emCima">6</button>
            <button class="emCima">5</button>
            <button class="emCima">4</button>
            <button class="emCima escurecer-button">-</button>
        </div>
        <div>
            <button class="emCima">3</button>
            <button class="emCima">2</button>
            <button class="emCima">1</button>
            <button class="emCima escurecer-button">+</button>
        </div>
        <div>
            <button class="emCima">+/-</button>
            <button class="emCima">0</button>
            <button class="emCima">,</button>
            <button id="igual">=</button>
        </div>
    </div>

    <script src="/static/script.js"></script>
</body>

</html>