<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora em JS</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

    <div id="calculadora">
        <div id="resultado">
            <div id="sub-resultado-div"></div>
            <div id="resultado-div">0</div>
        </div>
        <div id="cima">
            <button id="porcentagem" class="emCima escurecer-button">%</button>
            <button id="limpar" class="emCima escurecer-button">C</button>
            <button id="apagarDigito" class="emCima escurecer-button">←</button>
            <button id="dividir" class="emCima escurecer-button">÷</button>
        </div>
        <div>

            <button id="oito" class="emCima">8</button>
            <button id="sete" class="emCima">7</button>
            <button id="nove" class="emCima">9</button>
            <button id="multiplicar" class="emCima escurecer-button">x</button>
        </div>
        <div>
            <button id="quatro" class="emCima">4</button>
            <button id="cinco" class="emCima">5</button>
            <button id="seis" class="emCima">6</button>
            <button id="subtrair" class="emCima escurecer-button">-</button>
        </div>
        <div>
            <button id="um" class="emCima">1</button>
            <button id="dois" class="emCima">2</button>
            <button id="tres" class="emCima">3</button>
            <button id="somar" class="emCima escurecer-button">+</button>
        </div>
        <div>
            <button id="inverterSinal" class="emCima">+/-</button>
            <button id="zero" class="emCima">0</button>
            <button id="virgula" class="emCima">,</button>
            <button id="igual">=</button>
        </div>
    </div>

    <script src="/static/script.js"></script>
</body>

</html>